/* This file is for your main application css. */
ul#msg-list > li {
  padding: 8px;
  border-radius: 8px;
  margin: 2px;
}
li.mine {
  width: 90%;
  float: right;
  background-color: lightgreen;
}

li.yours {
  width: 90%;
  float: left;
  background-color: lightgrey;
}