<ul id="msg-list" class="row" style="list-style: none; min-height:200px; padding: 10px;">
  
</ul>

<div class="row">
  <div class="col-xs-3">
    <input class="form-control" type=text id="name" placeholder="Your name">
  </div>

  <div class="col-xs-9">
    <input class="form-control" type=text id="message" placeholder="Input your message">
  </div>
</div>